* {
  padding: 0px;
  margin: 0px;

}

a {
  text-decoration: none;
}

h5 {
  text-decoration: none;
  color: black;
}

p {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

/* ------------ Page title ------------ */
.productAvaible h1 {
  display: flex;
  justify-content: center;
  margin: 5rem;
}

/* ------------ Products grid ------------ */
.grid_products{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem,1fr));
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  margin-bottom: auto;
  column-gap: 5rem;
  column-width: 4rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.shadow{
  background-color: red;
}

.tuhna{
  margin-top: 9rem;
  text-align: center;
}

.navbar-brand {
  font-size: 28px;
}
